<%= simple_form_for [dream, booking], url: dream_bookings_path(dream), html: { data: {controller: "price", "price-price-value": @dream.price }, class: "needs-validation" } do |f| %>
  <div class="card shadow p-4 mb-4 mx-auto" style="max-width: 400px;">
    <h4 class="card-title text-primary text-center">Book Your Dream</h4>
    <div class="card-body">
      <% if f.error_notification || (f.object.errors[:base].present?) %>
        <div class="alert alert-danger">
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        </div>
      <% end %>

      <div class="form-group mb-3">
        <div class="w-75 mx-auto" >
          <%= f.input :start_date,
                      as: :string,
                      input_html: {
                        data: { controller: "datepicker", action: "focus->datepicker#show", action: "change->price#calculate", "price-target": "dates", action: "change->price#enable"},
                        class: "form-control"
                      },
                      label: "Select Date",
                      wrapper_html: { class: "mb-3" } %>
        </div>
      </div>
    </div>

    <p data-price-target="result"></p>

    <div>
      <%= f.button :submit, "Book Now", class: "btn btn-disabled w-100", disabled: true, data: { "price-target": "bookBtn" } %>
    </div>
  </div>
<% end %>
