<div class="banner mb-3" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7)), url(https://img.freepik.com/free-vector/mobile_53876-166870.jpg?semt=ais_hybrid);">
  <div class="container">
    <div class="banner-text-wrapper w-50">
      <h1 style="font-size: 60px; font-family: Alice; font-weight: lighter;">YOUR DREAMS</h1>
      <h1 style="font-size: 30px; font-weight: lighter;">Rent and explore captivating dreamscapes, all while you rest!</h1>
      <p> Your perfect night is just a dream away.</p>
      <p><i>— because why let your imagination sleep? 🌙✨</i></p>
    </div>
  </div>
</div>

<div class="row mx-3">
  <% @dreams.each do |dream| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100 border-0" style="overflow: hidden; background-color: rgba(0,0,0,0);">

        <%= link_to dream, style: "color: inherit; text-decoration: none;" do %>
          <div class="card-category image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('<%= dream.photo.attached? ? cl_image_path(dream.photo.key) :asset_path(dream.image_url)%>')">
            <%= dream.title %>
          </div>
          <%= dream.price %>
          <% if dream.reviews.any? %>
          <p><%= dream.reviews.average(:rating).to_f.round(1) || 0.0 %> / 5.0</p>
          <% end %>
        <% end %>

        <%= link_to "Show this dream", dream, class: "btn btn-primary", style: "z-index: 1;" %>
      </div>
    </div>
  <% end %>
</div>
