<div class="background">
  <div class="container">
    <div class="banner-text-wrapper w-50">
      <h1 style="font-size: 60px; font-family: Alice; font-weight: lighter;">YOUR DREAMS</h1>
      <h1 style="font-size: 30px; font-weight: lighter;">Rent and explore captivating dreamscapes, all while you rest!</h1>
      <p>Your perfect night is just a dream away.</p>
      <p><i>— because why let your imagination sleep? 🌙✨</i></p>
    </div>
  </div>
</div>

<div class="row mx-3">
  <% @dreams.each do |dream| %>
    <div class="col-md-4 mb-4">
      <div class="card h-100 border-0" style="overflow: hidden; background-color: rgba(0,0,0,0);">
        <%= link_to dream, style: "color: inherit; text-decoration: none;" do %>
          <div class="card-category image" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url('<%= dream.photo.attached? ? cl_image_path(dream.photo.key) : asset_path(dream.image_url)%>')">
          </div>
          <h3><%= dream.title %></h3>
          <p><%= dream.price %></p>
          <% if dream.reviews.any? %>
            <p><%= dream.reviews.average(:rating).to_f.round(1) || 0.0 %> / 5.0</p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %> 
</div>
