<h2 class="text-center m-3 fw-light">New Dream</h2>

<div class="registration-form">
  <%= simple_form_for(@dream, html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs m-3">
      <%= f.input :title,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "off" },
                  label: "Title" %>
    </div>

    <div class="form-inputs m-3">
      <%= f.input :description,
                  required: true,
                  as: :text,
                  label: "Description" %>
    </div>

    <div class="form-inputs m-3">
      <%= f.input :category,
                  required: true,
                  label: "Category" %>
    </div>

    <div class="form-inputs m-3">
      <%= f.input :image_url,
                  required: false,
                  label: "Image URL" %>
    </div>

    <div class="form-inputs m-3">
      <%= f.input :price,
                  as: :decimal,
                  required: false,
                  step: 0.01,
                  label: "Price (EUR)" %>
    </div>

    <div class="form-inputs m-3">
      <%= f.input :duration,
                  input_html: { class: 'datepicker', placeholder: 'Select a date' },
                  required: false,
                  label: "Duration (in days)" %>
    </div>

    <div class="form-inputs m-3">
      <%= f.input :rating,
                  as: :decimal,
                  step: 0.1,
                  required: false,
                  label: "Rating (1-5)" %>
    </div>

  <div class="form-inputs">
    <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  </div>

  <div class="form-actions d-grid m-3">
    <%= f.submit "Create Dream", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
