<h2><%= @dream.title%></h2>
<p><%= @dream.description%></p>
<p>Category: <%= @dream.category %></p>
<img src="<%= @dream.image_url%>" alt="<%= @dream.title%>" style="width:300px">
<p><strong>Price:</strong> <%= number_to_currency(@dream.price, unit: "€") %></p>

<p>
  <% hours = @dream.duration / 60 %>
  <% minutes = @dream.duration % 60 %>
  <% if @dream.duration > 60 %>
    <p>Duration: <%= "#{pluralize(hours, "hour")} #{pluralize(hours, "minute")} " %></p>
  <% elsif @dream.duration < 60 %>
    <p>Duration: <%= pluralize(@dream.duration, "minute") %> </p>
  <% else %>
    <p>Duration: <%= "#{pluralize(hours, "hour")}" %></p>
  <% end %>
</p>

<p>Rating: <%= @dream.rating %> / 5</p>
<div>
  <% if current_user && @dream.bookings.exists?(user_id: current_user.id) %>
  <%= link_to new_dream_review_path(@dream), class: "btn btn-secondary", title: "Add a Review" do %>
      Add a Review
    <% end %>
  <% end %>
<div>

<% if !@dream.is_owner?(current_user) %>
    <%= render "booking", dream: @dream, booking: @booking %>
<% end %>

</div>

<div>
  <%= link_to "Back to HomePage", dreams_path %>
  <% if @dream.is_owner?(current_user) %>
    <%= link_to dream_path(@dream),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "text-danger", title: "Delete Dream" do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
    <%= link_to edit_dream_path(@dream), class: "text-warning me-3", title: "Edit dream" do %>
      <i class="fas fa-edit"></i>
    <% end %>
  <% end %>
</div>
