
<h2 class="text-center m-3 fw-light">Let's be a dreamer</h2>

<div class="registration-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="m-3" >
        <%= f.input :username,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "username" }%>
      </div>
      <div class="m-3" >
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
      </div>
      <div class="m-3">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" }%>
      </div>
      <div class="m-3">
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" }%>
      </div>

      <div class="form-actions d-grid m-3">
        <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  <p class= "text-center mb-4 mt-3 t-none">Already have an account? <%= render "devise/shared/links"%></p>
</div>
