<h2 class="text-center text-light" style="font-family: Alice;">Let's be a dreamer</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="d-flex justify-content-center">
    <div class="card p-4 shadow-sm mb-4 col-12 col-md-8 col-lg-6 dream-form-card">
      <%= f.error_notification %>

      <!-- Form fields in a vertical stack -->
      <div class="form-inputs">
        <div class="form-group mb-3">
          <%= f.input :username,
                      required: true,
                      autofocus: true,
                      input_html: { class: "form-control" } %>
        </div>

        <div class="form-group mb-3">
          <%= f.input :email,
                      required: true,
                      input_html: { class: "form-control", autocomplete: "email" } %>
        </div>

        <div class="form-group mb-3">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      hint_html: { style: "color: white;" },
                      input_html: { class: "form-control", autocomplete: "new-password" } %>
        </div>

        <div class="form-group mb-3">
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { class: "form-control", autocomplete: "new-password" } %>
        </div>
      </div>

      <!-- Submit button -->
      <div class="form-actions text-center">
        <%= f.button :submit, "Sign up", class: "btn filter-btn" %>
      </div>
    </div>
  </div>
<% end %>

<p class="text-center mb-4 mt-3 t-none" style="color: white;">Already have an account? <%= render "devise/shared/links" %></p>
